html {
    /*height: 100%;*/
    background: url(../../res/background.png);
    background-size: cover;
}

.analyze-body {
    height: 100%;
}


ul {
    text-align: left;
}

li {
    color: white;
}

.chart-bar {
    width: 100% !important;
    height: auto !important;
}

canvas {
    margin-bottom: 100px;
}