
<body class="analyze-body">
    <h1 class="user-name">{{ $ctrl.accountData.name }}</h1>


    <uib-tabset>
        <uib-tab index="0" heading="Account Info">
            <div>
                <ul>
                    <li>
                        User Comment Karma: {{ $ctrl.accountData.comment_karma }}
                    </li>
                    <li>
                        User Link Karma: {{ $ctrl.accountData.link_karma }}
                    </li>
                    <li>
                        User Total Karma: {{ $ctrl.accountData.total_karma }}
                    </li>
                    <li>
                        Best Comment was : {{ $ctrl.bestComment.body }} with {{ $ctrl.bestComment.score }} points
                    </li>
                    <li>
                        date: {{ $ctrl.bestComment.date }}
                    </li>
                </ul>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Posts">
            <div>
                <div>
                    <canvas id="post-per-sub"
                            class="chart chart-bar test-chart"></canvas>
                </div>
                <div class="row year-select">
                    <label class="col-xs-3 select-label">Select Year:</label>
                    <select ng-init="yearPostOption = $ctrl.availablePostYear[0]"
                            ng-model="yearPostOption"
                            ng-options="option for option in $ctrl.availablePostYear"
                            ng-change="$ctrl.changePostYear(yearPostOption)"
                            class="form-control dropdown chart-drop-down col-xs-3"></select>
                </div>
                <canvas id="post-per-year"
                        class="chart chart-bar test-chart"></canvas>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Comments">
            <div>
                <div>
                    <canvas id="comment-per-sub"
                            class="chart chart-bar test-chart"></canvas>
                </div>
                <div class="row year-select">
                    <label class="col-xs-3 select-label">Select Year:</label>
                    <select ng-init="yearCommentOption = $ctrl.availableCommentYear[0]"
                            ng-model="yearCommentOption"
                            ng-options="option for option in $ctrl.availableCommentYear"
                            ng-change="$ctrl.changeCommentYear(yearCommentOption)"
                            class="form-control dropdown chart-drop-down col-xs-3"></select>
                </div>
                <canvas id="comment-per-year"
                        class="chart chart-bar test-chart"></canvas>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Karma History">
            <div>
                <canvas id="post-karma-history"
                        class="chart chart-line test-chart"></canvas>
            </div>
        </uib-tab>
    </uib-tabset>



</body>