
<body class="analyze-body">

    
    <ul>
        <li>
            User Name: {{ $ctrl.accountData.name }}
        </li>
        <li>
            User Comment Karma: {{ $ctrl.accountData.comment_karma }}
        </li>
        <li>
            User Link Karma: {{ $ctrl.accountData.link_karma }}
        </li>
        <li>
            User Total Karma: {{ $ctrl.accountData.total_karma }}
        </li>
        <li>
            Best Comment was : {{ $ctrl.bestComment.body }} with {{ $ctrl.bestComment.score }} points
        </li>
        <li>
            date: {{ $ctrl.bestComment.date }}
        </li>
    </ul>


    <div>
        <canvas id="bar"
                class="chart chart-bar test-chart"></canvas>
    </div>
    <div>
        <canvas id="bar2"
                class="chart chart-bar test-chart"></canvas>
    </div>

</body>