html {
    background: url(../../res/background.png);
    background-size: cover;
}

ul {
    text-align: left;
}

li {
    color: white;
}

.chart-bar {
    width: 100% !important;
    height: auto !important;
}

canvas {
    margin-top: 40px;
    margin-bottom: 10px;
}

.tab-btn {
    border: none;
    float: left;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.user-name {
    color: white;
    text-align: left;
    margin-top: 100px;
}

.chart-drop-down {
    height: 30px;
    width: auto;
}

.year-select {
    margin-top: 40px;
    float: left;
}

.select-label {
    color:white;
    font-size: 16px;
    width: auto;
}
